{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": -27.6892568414074,
        "longitude": -48.48504781723023,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Casa",
        "time_zone": "America/Sao_Paulo",
        "external_url": null,
        "internal_url": null
    }
}