# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*.log
*.log.1
*.log.fault
*.db
*.db-sha
*.db-wal
*.conf
*.json
*.pyc
*.gz
*.js
*.backup

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!.gitkeep
!.storage/hacs/


# Ignore folders.
.cloud
.google.token
.storage/

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db-shm

home-assistant.log.1
zigbee2mqtt/log/2023-01-03.22-02-07/log.txt
